* {
    margin: 0;
    padding: 0;
}

button {
    all: unset; /* Removes all default browser styles */
    display: inline-block;
    cursor: pointer;
    text-align: center;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit; /* Inherit font styles from parent */
    color: inherit; /* Inherit text color */
    line-height: normal;
    user-select: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

body {
    position: relative;
    width: 265px;
    height: 150px;
}

h1 {
    position: absolute;
    width: 127px;
    height: 19px;
    left: 13px;
    top: 74px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    color: #ffffff;
}

.Input-Chip {
    position: absolute;
    width: 72px;
    height: 19px;
    left: 181px;
    top: 74px;

    background: rgba(255, 255, 255, 0.9);
    border-radius: 50px 25px 25px 50px;
}

.EyeDropper {
    position: absolute;
    width: 17px;
    height: 17px;
    left: 182px;
    top: 75px;

    border-radius: 100px;
    text-align: center;

    background: #000000;
}

.Colour-Picker {
    position: absolute;
    width: 52px;
    height: 17px;
    left: 200px;
    top: 75px;

    background: #c189e6;
    border-radius: 4px;
    border: none;
    padding: 0;
    cursor: pointer;

    /* remove default style */
    -webkit-appearance: none;
    appearance: none;
}

/* remove inner padding / border */
.Colour-Picker::-webkit-color-swatch-wrapper {
    padding: 0;
}

/* style the color box itself */
.Colour-Picker::-webkit-color-swatch {
    border: none;
    border-radius: 4px;
}

.Previouscolors-Shelf {
    position: absolute;
    width: 265px;
    height: 52px;
    left: 0px;
    top: 98px;

    background: rgba(255, 255, 255, 0.9);
}

.Previous-1 {
    position: absolute;
    width: 31px;
    height: 31px;
    left: 13px;
    top: calc(50% - 31px / 2 + 48.5px);

    border-radius: 4px;
}

.Previous-2 {
    position: absolute;
    width: 31px;
    height: 31px;
    left: 48px;
    top: calc(50% - 31px / 2 + 48.5px);

    border-radius: 4px;
}

.Previous-3 {
    position: absolute;
    width: 31px;
    height: 31px;
    left: 83px;
    top: calc(50% - 31px / 2 + 48.5px);

    border-radius: 4px;
}

.Previous-4 {
    position: absolute;
    width: 31px;
    height: 31px;
    left: 118px;
    top: calc(50% - 31px / 2 + 48.5px);

    border-radius: 4px;
}

.Previous-5 {
    position: absolute;
    width: 31px;
    height: 31px;
    left: 153px;
    top: calc(50% - 31px / 2 + 48.5px);

    border-radius: 4px;
}

.Previous-6 {
    position: absolute;
    width: 31px;
    height: 31px;
    left: 188px;
    top: calc(50% - 31px / 2 + 48.5px);

    border-radius: 4px;
}

.Previous-7 {
    position: absolute;
    width: 31px;
    height: 31px;
    left: 223px;
    top: calc(50% - 31px / 2 + 48.5px);

    border-radius: 4px;
}

.colorize {
    z-index: 1;
}
